# Python/cache
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
.idea/
.vscode/
.env
.env.*
data/*.sqlite3
!data/wordle_pl.sqlite3
*.sqlite3-wal
*.sqlite3-shm
*.db-journal
data/cache_*.json

# Virtual env
.venv/
venv/

# IDE
.idea/
.vscode/

# Secrets
.env
.env.*

# SQLite: ignoruj wszystkie, ale zostaw tę jedną bazę
data/*.sqlite3
!data/wordle_pl.sqlite3
*.sqlite3-wal
*.sqlite3-shm
*.db-journal
